[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Raspberry Pi - Arduino - Lier les deux via le bus I2C
Type=Link
URL=http://www.pihomeserver.fr/2013/08/13/raspberry-pi-home-server-arduino-lier-les-deux-via-bus-i2c/
Icon=text-html
Name[fr_FR]=Raspberry i2c
