[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Using UART on Raspberry Pi - Python - pySerial
Type=Link
URL=https://electrosome.com/uart-raspberry-pi-python/
Icon=text-html
