[Desktop Entry]
Encoding=UTF-8
Name=Lien vers La ville citoyenne intelligente | ACCUEIL | Nos actions
Type=Link
URL=https://www.lavilleintelligentecitoyenne.com/nos-actions
Icon=text-html
