[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Les petites communes peuvent aussi être « smart »
Type=Link
URL=https://www.villeintelligente-mag.fr/Les-petites-communes-peuvent-aussi-etre-%C2%A0smart%C2%A0_a441.html
Icon=text-html
