[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Introducing LoRa™ !: 19 Steps
Type=Link
URL=http://www.instructables.com/id/Introducing-LoRa-/
Icon=text-html
