[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Wireless communication over long distances - Electrical Engineering Stack Exchange
Type=Link
URL=https://electronics.stackexchange.com/questions/1149/wireless-communication-over-long-distances
Icon=text-html
