[Desktop Entry]
Encoding=UTF-8
Name=Lien vers XBee Buying Guide - SparkFun Electronics
Type=Link
URL=https://www.sparkfun.com/pages/xbee_guide
Icon=text-html
