[Desktop Entry]
Encoding=UTF-8
Name=Lien vers XBee-Pro 900 XSC S3B Wire - WRL-11634 - SparkFun Electronics
Type=Link
URL=https://www.sparkfun.com/products/11634
Icon=text-html
