[Desktop Entry]
Encoding=UTF-8
Name=Lien vers LoRaWAN Technology for Arduino, Waspmote and Raspberry Pi
Type=Link
URL=https://www.cooking-hacks.com/documentation/tutorials/lorawan-for-arduino-raspberry-pi-waspmote-868-900-915-433-mhz/
Icon=text-html
