[Desktop Entry]
Encoding=UTF-8
Name=Lien vers The Guide to Bluetooth Modules for Arduino | Into Robotics
Type=Link
URL=https://www.intorobotics.com/pick-right-bluetooth-module-diy-arduino-project/
Icon=text-html
