[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Multi gas sensor - MQ-2
Type=Link
URL=https://snootlab.com/lang-en/pololu/917-multi-gas-sensor-mq-2-pololu-en.html
Icon=text-html
