[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Aliotys
Type=Link
URL=https://saint-sulpice.aliotys.com/#/Tableau-de-bord/Grand-public-Display-31
Icon=text-html
