[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Solutions de réseau et d'infrastructure pour l'IoT - Wi6Labs
Type=Link
URL=http://www.wi6labs.com/
Icon=text-html
