[Desktop Entry]
Encoding=UTF-8
Name=Lien vers InfoPopup · GitBook
Type=Link
URL=https://connect.boundlessgeo.com/docs/suite/sdk/latest/api/InfoPopup.html
Icon=text-html
